<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Sign Recognition</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.0/chart.min.js"
        integrity="sha512-JxJpoAvmomz0MbIgw9mx+zZJLEvC6hIgQ6NcpFhVmbK1Uh5WynnRTTSGv3BTZMNBpPbocmdSJfldgV5lVnPtIw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/" id="nav-brand">Traffic Sign Recognition</a></li>
            
        </ul>
    </nav>

    <form method="POST">
        {% csrf_token %}
        <h1>Traffic Sign Recognition</h1>
        <div class="input_type">
            <input type="text" placeholder="Enter URL of an Image" name="img_url">
        </div>
        <button id="recognize">Recognize</button>
    </form>
    <div class="result">
        <div class="result_one">
            <img src="{{img_url}}" alt="">
            <h2>{{result}}</h2>
            
        </div>
    </div>
</body>

</html>