@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
body{
    margin:0;
    padding:0;
}
nav{
    padding:10px 12px;
    background:black;
}
nav ul{
    list-style: none;
    align-items:center;
    margin: 0;
}
nav a:hover{
    color:aquamarine;
}
nav a{
    text-decoration: none;
    color:white;
    text-align: center;
}
#nav-brand{
    font-size:1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin:10px;
    background: rgba(128, 128, 128, 0.842);
    padding:10px;
    box-shadow: 2px 3px 4px rgb(0, 0, 0);
}
h1{
    text-align: center;
    font-family: 'Tourney', cursive;
    font-size: 2.5rem;
    text-shadow: 2px 0.5px rgb(255, 235, 235);
}
form input{
    font-size: 18px;
    border:0;
    outline:0;
    padding: 7px 8px;
    border-radius: 10px;
}
form input:focus{
    border: 0;
    outline:0;
}
#recognize{
    font-size:18px;
    background:linear-gradient(to bottom,rgb(43, 138, 112),rgb(37, 63, 56));
    border:none;
    outline:none;
    border-radius:10px;
    padding:6px;
    cursor: pointer;
}
.result_one{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.result_one img{
    width:200px;
}
.result{
    padding:20px;
}
#mychart{
    max-width: 100%;
}