Django==3.1
Flask==1.1.1
gunicorn==20.0.4
image==1.5.33
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.17
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
json5==0.8.4
jsonschema==3.0.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
numpy==1.19.5
Pillow==6.1.0
tensorflow-cpu==2.5.0
whitenoise==5.2.0
django-heroku==0.3.1
python-decouple==3.3